In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2020-07-12 03:28:47,-34.42,19.23,46.00,79,53,7.36
1,1,Punta Arenas,CL,2020-07-12 03:28:47,-53.15,-70.92,28.40,86,0,8.05
2,2,Yellowknife,CA,2020-07-12 03:28:47,62.46,-114.35,70.00,64,75,8.05
3,3,Nikolskoye,RU,2020-07-12 03:28:48,59.70,30.79,60.01,87,20,8.95
4,4,Egvekinot,RU,2020-07-12 03:28:48,66.32,-179.17,61.68,40,0,4.36

In [11]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Add the geographic center of Earth.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Play with the heat layer:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Sibolga,ID,2020-07-12 03:28:48,1.74,98.78,79.54,84,100,3.04
13,13,Kapaa,US,2020-07-12 03:28:49,22.08,-159.32,82.40,69,75,18.34
27,27,Bengkulu,ID,2020-07-12 03:28:51,-3.80,102.27,84.11,67,83,0.56
28,28,Hilo,US,2020-07-12 03:25:27,19.73,-155.09,75.20,88,90,3.36
29,29,Kashi,CN,2020-07-12 03:28:51,39.45,75.98,77.00,29,7,8.95
30,30,Atuona,PF,2020-07-12 03:28:52,-9.80,-139.03,79.93,77,33,17.38
31,31,Shingu,JP,2020-07-12 03:28:52,33.73,135.98,77.00,78,75,12.75
39,39,Jacareacanga,BR,2020-07-12 03:28:54,-6.22,-57.75,77.74,66,48,2.57
40,40,Mayahi,NE,2020-07-12 03:28:54,13.96,7.67,85.15,51,1,11.52
42,42,Ratnagiri,IN,2020-07-12 03:28:54,16.98,73.30,82.54,78,100,5.21

In [21]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
6        Sibolga      ID     79.54   1.74   98.78
13         Kapaa      US     82.40  22.08 -159.32
27      Bengkulu      ID     84.11  -3.80  102.27
28          Hilo      US     75.20  19.73 -155.09
29         Kashi      CN     77.00  39.45   75.98
30        Atuona      PF     79.93  -9.80 -139.03
31        Shingu      JP     77.00  33.73  135.98
39  Jacareacanga      BR     77.74  -6.22  -57.75
40        Mayahi      NE     85.15  13.96    7.67
42     Ratnagiri      IN     82.54  16.98   73.30

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
        
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): #If you encounter more errors, add them to the except block—like so, (IndexError, NewError)—and continue running your code until there are no errors.
        print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Sibolga,ID,79.54,1.74,98.78,Hotel Syariah CN Darussalam
13,Kapaa,US,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
27,Bengkulu,ID,84.11,-3.80,102.27,Grage Hotel Bengkulu
28,Hilo,US,75.20,19.73,-155.09,Hilo Hawaiian Hotel
29,Kashi,CN,77.00,39.45,75.98,帕米尔青年旅舍
...,...,...,...,...,...,...
559,Derzhavinsk,KZ,83.95,51.10,66.32,Ooo.khim Baza
562,Atasu,KZ,75.58,48.68,71.64,Dostyk
568,Marsh Harbour,BS,83.70,26.54,-77.06,Abaco Beach Resort
572,Port Blair,IN,85.15,11.67,92.75,Hotel Sentinel
575,Belaya Gora,RU,77.25,68.53,146.42,

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
# Remove blank hotel
hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != ""]
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Sibolga,ID,79.54,1.74,98.78,Hotel Syariah CN Darussalam
13,Kapaa,US,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
27,Bengkulu,ID,84.11,-3.80,102.27,Grage Hotel Bengkulu
28,Hilo,US,75.20,19.73,-155.09,Hilo Hawaiian Hotel
29,Kashi,CN,77.00,39.45,75.98,帕米尔青年旅舍
...,...,...,...,...,...,...
556,Cehegin,ES,75.99,38.09,-1.80,Apartamentos Begastri
559,Derzhavinsk,KZ,83.95,51.10,66.32,Ooo.khim Baza
562,Atasu,KZ,75.58,48.68,71.64,Dostyk
568,Marsh Harbour,BS,83.70,26.54,-77.06,Abaco Beach Resort
572,Port Blair,IN,85.15,11.67,92.75,Hotel Sentinel

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))